<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>FastAPI App</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>FastAPI連携アプリ</h1>
            <input id="numberInput" type="number" placeholder="数字を入力">
            <button id="calculateButton">
                Pythonで計算
            </button>
        </div>
        <div class="content">
            <p id="result"></p>
            <script src="../static/script.js"></script>
        </div>
        <div class="footer">
            <p>&copy; 2024 FastAPI App. All rights reserved.</p>
        </div>
    </div>
</body>
</html>