<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Practice Syntax of English Service</title>
  <link rel="stylesheet" href="/static/style.css?v=2">
  <script src="/static/login.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Practice Syntax of English Service</h1>
        </div>
        <div class="content">
            <div class="login-form">
                <h3>Sign In</h3>
                <p>user name: <input id="username" type="text" placeholder="ユーザー名を入力"></p>
                <p>password: <input id="password" type="password" placeholder="パスワードを入力"></p>
            </div>
            <button id="loginButton">
                Sign In
            </button>
            <button onclick="location.href='/regist_user'">
                Sign Up
            </button>
        </div>
        <div class="footer">
            <p>&copy; 2026 Practice Syntax of English Service. All rights reserved.</p>
        </div>
    </div>
</body>
</html>