<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Practice Syntax of English Service</title>
  <link rel="stylesheet" href="/static/style.css?v=2">
  <script src="/static/start.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Practice Syntax of English Service</h1>
        </div>
        <div class="content">
            <div class="settings">
                <h3>settings</h3>
                <p>Number of questions: <input id="numberquestions" type="number" placeholder="数字を入力"></p>
                <p>Level category: <select id="levelCategorySelect">
                    <option value="0">-- カテゴリを選択してください --</option>
                    <option value="1">CEFR</option>
                    <option value="2">IELTS</option>
                    <option value="3">TOEIC</option>
                </select></p>
                <p>Level: <select id="levelSelect">
                    <option value="0">-- レベルを選択してください --</option>
                </select></p>
            </div>
            <button id="startButton">
                Start
            </button>
            <button onclick="location.href='/regist_syntax'">
                Regist Syntax
            </button>
            <button onclick="location.href='/'">
                log out
            </button>
        </div>
        <div class="footer">
            <p>&copy; 2026 Practice Syntax of English Service. All rights reserved.</p>
        </div>
    </div>
</body>
</html>